<form action="/recipes" method="post">
  Recipe name: <input type="text" name="name">
  Recipe ingredients: <input type="text" name="ingredients">
  Recipe Cooktime: <input type="text" name="cook_time">
  <input type="submit" value="Submit">
</form>
